<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.kiranakart.customer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true" 
      android:theme="@style/AppTheme">
      <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://exp.host/@kiranakart-app/kiranakart" />
      <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="38.0.0" />

      <meta-data
          android:name="CLEVERTAP_ACCOUNT_ID"
          android:value="TEST-Z8W-8KW-ZZ6Z"/>
      
      <meta-data
          android:name="CLEVERTAP_TOKEN"
          android:value="TEST-03b-0b1"/>
      <!-- <meta-data
          android:name="CLEVERTAP_ACCOUNT_ID"
          android:value="W8W-8KW-ZZ6Z"/>
      
      <meta-data
          android:name="CLEVERTAP_TOKEN"
          android:value="03b-0b0"/> -->
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDfGkyVsGaqoBQsTAAttQH-p2sDuqHqAmc"/>
      <meta-data android:name="CLEVERTAP_USE_GOOGLE_AD_ID" android:value="1"/> 
      <meta-data android:name="FCM_SENDER_ID" android:value="id:654937786237"/>
      <meta-data android:name="CLEVERTAP_BACKGROUND_SYNC" android:value="1"/>
      <meta-data android:name="CLEVERTAP_NOTIFICATION_ICON" android:value="ic_notification"/>

      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
      
      <service android:name=".MyFirebaseMessagingService">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
      </service>
<!--use CTBackgroundIntentService to target users below Android 21 (Lollipop)-->
      <service
        android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundIntentService"
        android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT"/>
            </intent-filter>
      </service>

    <!--use CTBackgroundJobService to target users on and above Android 21 (Lollipop)-->
      <service
        android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false"/>
      <service
      android:name="com.clevertap.android.sdk.pushnotification.CTNotificationIntentService"
      android:exported="false">
        <intent-filter>
          <action android:name="com.clevertap.PUSH_EVENT"/>
        </intent-filter>
      </service>
        
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:screenOrientation="portrait"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
